*{
	margin: 0;
	padding:0;
	box-sizing: border-box;

}
body{
	background: #eaeded;
}
.a{
	border: 2px solid black;
	width: 300px;
	height: 500px;
	float: left;
	margin: 10px;
}
.b{
	text-align: center;
	background: red;
	color: black;
}